Test/Service References/ServiceReference3/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDbService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WSP.DBUtility" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.OracleClient" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbService_init_InputMessage">
    <wsdl:part name="parameters" element="tns:init" />
  </wsdl:message>
  <wsdl:message name="IDbService_init_OutputMessage">
    <wsdl:part name="parameters" element="tns:initResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetTableByProc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableByProc" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetTableByProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableByProcResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetTableByProcRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableByProcRef" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetTableByProcRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableByProcRefResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_ExcuteProc_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcuteProc" />
  </wsdl:message>
  <wsdl:message name="IDbService_ExcuteProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcuteProcResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_CmdParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:CmdParameter" />
  </wsdl:message>
  <wsdl:message name="IDbService_CmdParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CmdParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetDataSetByProc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetByProc" />
  </wsdl:message>
  <wsdl:message name="IDbService_GetDataSetByProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetByProcResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbService">
    <wsdl:operation name="init">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/init" message="tns:IDbService_init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/initResponse" message="tns:IDbService_init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableByProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/GetTableByProc" message="tns:IDbService_GetTableByProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/GetTableByProcResponse" message="tns:IDbService_GetTableByProc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableByProcRef">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/GetTableByProcRef" message="tns:IDbService_GetTableByProcRef_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/GetTableByProcRefResponse" message="tns:IDbService_GetTableByProcRef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/ExcuteProc" message="tns:IDbService_ExcuteProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/ExcuteProcResponse" message="tns:IDbService_ExcuteProc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CmdParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/CmdParameter" message="tns:IDbService_CmdParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/CmdParameterResponse" message="tns:IDbService_CmdParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbService/GetDataSetByProc" message="tns:IDbService_GetDataSetByProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbService/GetDataSetByProcResponse" message="tns:IDbService_GetDataSetByProc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDbService" type="tns:IDbService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDbService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="init">
      <soap12:operation soapAction="http://tempuri.org/IDbService/init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableByProc">
      <soap12:operation soapAction="http://tempuri.org/IDbService/GetTableByProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableByProcRef">
      <soap12:operation soapAction="http://tempuri.org/IDbService/GetTableByProcRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteProc">
      <soap12:operation soapAction="http://tempuri.org/IDbService/ExcuteProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CmdParameter">
      <soap12:operation soapAction="http://tempuri.org/IDbService/CmdParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByProc">
      <soap12:operation soapAction="http://tempuri.org/IDbService/GetDataSetByProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbService">
    <wsdl:port name="NetTcpBinding_IDbService" binding="tns:NetTcpBinding_IDbService">
      <soap12:address location="net.tcp://192.168.1.115/DbService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.115/DbService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>