Test/Service References/ServiceReference3/WSP.DBUtility1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSP.DBUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSP.DBUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.OracleClient" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:complexType name="ArrayOfCmdParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CmdParameter" nillable="true" type="tns:CmdParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCmdParameter" nillable="true" type="tns:ArrayOfCmdParameter" />
  <xs:complexType name="CmdParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" type="xs:int" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.OracleClient" minOccurs="0" name="oracle_type" type="q1:OracleType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="paramDirection" type="q2:ParameterDirection" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="sql_Type" type="q3:SqlDbType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CmdParameter" nillable="true" type="tns:CmdParameter" />
</xs:schema>